<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Investment Advisor Tool</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">

        <!-- Options buttons -->
        <div class="options">
            <a href="/investment_return" class="option-btn">Αποδόσεις επενδυτικών πακέτων</a>
            <a href="/return_of_investment" class="option-btn">Υπολογισμός απόδοσης της επένδυσής</a>
            <a href="/pension" class="option-btn">Υπολογισμός Σύνταξης</a>
            <a href="/value_after_inflation" class="option-btn">Επίδραση πληθωρισμού</a>
            <a href="/target_amount" class="option-btn">Υπολογισμός δόσης για την επίτευξη του επενδυτικού μου στόχου</a>
            <a href="/exit" class="option-btn">Έξοδος</a>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>
