<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<div class="page-container">
    <h1 class="page-title" style="color: black">Investment Advisor Tool</h1>
    <div class="login-form-container">
        <h2>Login to Your Account</h2>
        <form action="{{ url_for('login') }}" method="post" class="login-form">
            {{ form.csrf_token }}
            <div class="form-field">
                {{ form.username.label }} {{ form.username(class="form-control") }}
            </div>
            <div class="form-field">
                {{ form.password.label }} {{ form.password(class="form-control") }}
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-message">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
        </form>
    </div>
</div>
</body>
</html>