<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Target Capital Calculator</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Υπολογισμός Αξίας Κεφαλαίου μετά την επίδραση του Πληθωρισμού(3%)</h1>

        <!-- Target Capital Form -->
        <form action="{{ url_for('inflation_effect') }}" method="post" class="investment-form">
            {{ form.csrf_token }}
            <div class="form-field">
                {{ form.initial_amount.label }} {{ form.initial_amount(class="form-control") }}
            </div>
            <div class="form-field">
                {{ form.years.label }} {{ form.years(class="form-control") }}
            </div>
            <button type="submit" class="btn btn-primary">Υπολόγισε</button>
        </form>

        <!-- Results Section -->
        {% if value_after_years %}
        <div class="result-container">
            <h2>Τελική αξία κεφαλαίου</h2>
            <p> {{ value_after_years }} &euro;</p>

        </div>
        {% endif %}

        <a href="/options" class="back-button">Back to Home</a>
    </div>
</body>
</html>